<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
         
        <add id="Softprodigy_Minimart::Ongobuyo" 
             title="OnGoBuyo"
             module="Softprodigy_Minimart" 
             sortOrder="10" 
             parent="Magento_Backend::stores" 
             resource="Magento_Backend::content" />
        
        <add id="Softprodigy_Dailydeal::Addnewdeal" 
             title="Design App HomePage" 
             module="Softprodigy_Minimart" 
             sortOrder="1" 
             parent="Softprodigy_Minimart::Ongobuyo" 
             action="minimart/homedesign/index" 
             resource="Magento_Backend::content"/>
        
    </menu>
</config>
